<h1>Wolcome#index</h1>
<p>Find me in app/views/wolcome/index.html.erb</p>

<a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=19414204611.151924707333"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
